{% extends "AlbumReviewAlbumReviewBundle::layout.html.twig" %}

{% block title %}AlbumReviewAlbumReviewBundle:Page:index{% endblock %}

{% block body %}
        <p>
            No result found for search query! :)
        </p>
{% endblock %}