{% extends 'AlbumReviewAlbumReviewBundle::layout.html.twig' %}

{% block title %}AlbumReviewAlbumReviewBundle:ReviewController:createReview{% endblock %}

{% block body %}
    <h1>Enter your review for album</h1>
    {{ form(form) }}
{% endblock %}
