{% extends 'AlbumReviewAlbumReviewBundle::layout.html.twig' %}

{% block title %}Create a album review entry{% endblock %}
{% block body %}
    <h1>Create an album review</h1>
    {{ form(form) }}
{% endblock %}



